@use 'variables.scss' as *;

header.main
{
    position: fixed;
    z-index: 999;
    width:100vw; height:60px;

    .content
    {
        display:flex;
        max-width: $bodyMaxWidth; height:100%;
        margin:0 auto; padding:0 24px;
        justify-content: space-between;
    }

    @include themify() 
    {
        background-color: themed('headerBg');
    }

    .logo
    {
        img
        {
            width:148px; height:100%;
        }
    }

    nav
    {
        display: flex;
        align-items: stretch; justify-content:space-evenly;
        a
        {
            display: flex;
            align-items: center;
            padding:0 20px 0 24px;
            font-size:.8em; font-weight:600; letter-spacing:2px;
            text-transform: uppercase;

            &.highlight
            {
                color:#FFF;
            }

            span
            {
                padding:0 6px 0 16px;
            }
        }
        .avatar
        {
            display: flex;
            align-items: center;
            padding:0 18px;
            cursor: pointer;

            img
            {
                width:32px; height:32px;
                border-radius:50%;
            }
            svg
            {
                margin:0 0 0 8px;
                color:rgb(34, 34, 34);
            }
        }

        .theme-toggle
        {
            svg
            {
                width:1.5em; height:auto;
            }
            svg.dark
            {
                @include themify() 
                {
                    display: themed('darkDisplayToggle');
                }
            }
            svg.light
            {
                @include themify() 
                {
                    display: themed('lightDisplayToggle');
                }
            }
        }

        .lists, .search
        {
            svg
            {
                width:1.1em; height:auto;
            }
        }
        
        button
        {
            display:flex;
            justify-content: center; align-items: center;
            padding:0 0 0 20px;

            svg
            {
                @include themify() 
                {
                    fill: themed('menuIconFill');
                }
            }
            &:hover svg
            {
                @include themify() 
                {
                    fill: themed('menuIconFillHover');
                }
            }
        }
    }
}