section.lists
{
    header
    {
        
    }

    .lists
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: auto;
        gap: 30px;
        margin:0 0 40px 0;

        .list
        {
            color:#FFF;
            padding:20px;
            background-color:#314A60;
            border-radius:8px;
            cursor: pointer;
            transition: transform .18s;
            
            &:hover
            {
                transform:scale(1.1);
            }

            p
            {
                margin:8px 0 0 0;
            }
        }
    }

    .no-results
    {
        height:300px;
        padding:30px 55px;
        border-radius:8px;
        background:url('https://www.themoviedb.org/assets/2/v4/account_pipes/silver-251bf173c626c8be6f61efdd85b7009a83b2f9dfa60b80b182351a02fa2a57ec.svg') no-repeat center -250px;

        h3
        {
            font-size:2em; font-weight:300;
        }
    }
}